body {
    direction: rtl;
}
body, div#slider-1-slide-2-layer-2, div#slider-1-slide-2-layer-3, a.sc_button.sc_button_style_filled {
    font-family: Jameel-Noori-Nastaleeq !important;
}
div#slider-1-slide-2-layer-2 {
    font-size: 55px;
}
.rs-parallax-wrap.rs-layer-wrap {
    left: unset !important;
    right: 174.6px;
}
div#slider-1-slide-2-layer-3 {
    padding: 10px 20px 20px 22px !important;
    font-size: 20px !important;
}
a.sc_button.sc_button_style_filled {
    font-size: 25px;
}
div#slider-1-slide-2-layer-4 {
    padding-left: 367px;
    padding-right: unset !important;
}
div#sc_testimonials_723916063 {
    direction: ltr;
}
.sc_form_field.sc_form_field_button.sc_form_field_submit {
    text-align: right;
}
a.sc_button.sc_button_square.sc_button_style_filled.sc_button_bg_link.sc_button_size_small::after {
    transform: rotate(180deg) !important;
    margin-top: -10px;
}
form.wpcf7-form.init input, form.wpcf7-form.init textarea {
    text-align: right;
}
.scheme_original .menu_user_nav>li>a {
    font-size: 17px;
}
ul#menu_main li a {
    font-size: 23.5px;
}
.scheme_original .isotope_filters a {
    font-size: 21px;
}
.sc_services_item_description p {
    font-size: 23px;
    line-height: 35px;
}
.sc_content.content_wrap h6, .sc_content.content_wrap h6 a {
    font-size: 2em;
    margin-top: 0px !important;
    line-height: 3rem;
}
.widget_area .post_item h6.post_title {
    line-height: 2.7rem;
    font-size: 1.2rem;
}
span.sc_countdown_label {
    font-size: 1.5rem;
}
aside#themerex_widget_socials-3 .logo_descr {
    margin-top: 30px;
}
ul#menu_user {
    margin-left: 30px;
}