body { 
    direction: rtl;
}
body, div#slider-1-slide-2-layer-2, div#slider-1-slide-2-layer-3, a.sc_button.sc_button_style_filled {
    font-family: Jameel-Noori-Nastaleeq !important;
}
#mobile-nav-toggler {
	display: none;
}
h3.sc_services_item_title {
    font-family: unet;
}
.py-5 {
    padding: 2rem 0 !important;
}
.top_panel_wrap .logo_main {
    max-height: 80px;
    padding: 10px 10px;
    margin-bottom: 0px;
}
.column-3_5.contact_logo {
    padding: 20px 0px;
}
.column-1_5.top_search_panel {
    padding: 11px 0px;
}
.menu_main_nav>li>a {
    padding: 0.6em 1.6em;
    line-height: 1.5em;
}
.scheme_original .menu_user_login:before {
    display: none;
}
div#slider-1-slide-2-layer-2 {
    font-size: 55px;
}
.rs-parallax-wrap.rs-layer-wrap {
    left: unset !important;
    right: 174.6px;
}
div#slider-1-slide-2-layer-3 {
    padding: 10px 20px 20px 22px !important;
    font-size: 20px !important;
}
a.sc_button.sc_button_style_filled {
    font-size: 25px;
}
div#slider-1-slide-2-layer-4 {
    padding-left: 367px;
    padding-right: unset !important;
}
div#sc_testimonials_723916063 {
    direction: ltr;
}
.sc_form_field.sc_form_field_button.sc_form_field_submit {
    text-align: right;
}
a.sc_button.sc_button_square.sc_button_style_filled.sc_button_bg_link.sc_button_size_small::after {
    transform: rotate(180deg) !important;
    margin-top: -10px;
}
form.wpcf7-form.init input, form.wpcf7-form.init textarea {
    text-align: right;
}
.scheme_original .menu_user_nav>li>a {
    font-size: 17px;
}
ul#menu_main li a {
    font-size: 23.5px;
}
.scheme_original .isotope_filters a {
    font-size: 21px;
}
.sc_services_item_description p {
    font-size: 23px;
    line-height: 35px;
}
.sc_content.content_wrap h6, .sc_content.content_wrap h6 a {
    font-size: 2em;
    margin-top: 0px !important;
    line-height: 3rem;
}
.widget_area .post_item h6.post_title {
    line-height: 2.7rem;
    font-size: 1.2rem;
}
span.sc_countdown_label {
    font-size: 1.5rem;
}
aside#themerex_widget_socials-3 .logo_descr {
    margin-top: 30px;
}
ul#menu_user {
    margin-left: 30px;
}
.py-5{padding: 5rem 0;}
.magazine-details-div {
    display: flex;
    gap: 30px;
}
.magazine-details-div .mag_left {
    width: 30%;
}
.magazine-details-div .mag_right {
    width: 70%;
}
.magazine-details-div .mag_right .table_heading {
    width: 100%;
    font-size: 45px;
    text-align: center;
    margin-bottom: 2rem;
}
.magazine-details-div .site_table , .magazine-details-div .site_table table {
    width: 100%;
}
.mt-1 {
    margin-top: 1rem;
}
#subscription-div {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.sc_blogger .isotope_filters {
    margin: 1em 0 1em;
    text-align: right;
    margin-top: 5px;
}
.post_content.isotope_item_content h4.post_title {
    margin-top: 15px !important;
    margin-right: 15px !important;
}
.footer_wrap img.logo_main {
    max-width: 170px;
    margin-top: 70px;
}
.scheme_original footer.widget_area .sc_list_style_iconed li, .scheme_original footer.widget_area .widget_title, .scheme_original footer.widget_area .widget_title>a, .scheme_original footer.widget_area .post_title a {
    color: #000;
}
.scheme_original .footer_wrap_inner {
    color: #000;
}
.scheme_original .footer_wrap_inner {
    background-color: #ffffff;
}
.scheme_original footer form.wpcf7-form textarea, .scheme_original footer form.wpcf7-form input[type=text], .scheme_original footer form.wpcf7-form input[type=email], .scheme_original footer .sc_contact_form .sc_contact_form_item input[type=text], .scheme_original footer .sc_contact_form .sc_contact_form_item textarea {
    background-color: rgb(177 177 177 / 30%);
}
.footer_wrap_inner.widget_area_inner {
    border-top: 2px solid gainsboro;
}

@media (max-width: 1250px) {
    .menu_main_nav>li>a {
        padding: 0.6em 1em;
    }
    header .top_panel_middle .columns_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    header .logo-era, header .top_search_panel  {
        order: 1;
    }
    header .menu-era {
        order: 2;
        width: 100%;
		display: none !important;
    }
	header .menu-era.active {
		display: flex !important;
	}
	#mobile-nav-toggler {
		display: inline-block;
		order: 1;
		padding: 10px;
	}
}
@media (max-width: 768px) {
    .top_panel_style_1 .logo {
        width: 100%;
    }
    .logo-era {
        padding: 0 !important;
    }
    .rs-parallax-wrap.rs-layer-wrap.rs-slide-1 {
        width: 100% !important;
        right: 80px;
    }
    .accent1_bg.slider_bg {
        width: 75%;
        height: 360px;
    }
    div#slider-1-slide-2-layer-2 {
        padding: 45px 0px;
        font-size: 45px;
        line-height: 50px;
    }
    .rs-parallax-wrap.rs-layer-wrap.rs-slide-3 {
        right: 80px;
        top: 350px;
    }
    div#slider-1-slide-2-layer-3 {
        width: 80%;
        white-space: normal;
        margin: 0px auto;
    }
    .isotope_filters.inited {
        width: 100%;
        padding-top: 20px;
    }
    .isotope_wrap.inited {
        height: 800px !IMPORTANT;
    }
    .isotope_item.isotope_item_masonri.isotope_item_masonri_3.isotope_column_3.flt_77.flt_79.flt_13.flt_63.flt_12.isotope_item_show {
        top: 450px !important;
    }
    .sc_video_frame.sc_video_play_button {
        height: 200px !important;
    }
    .sc_video_frame.sc_video_play_button::before {
        top: 48% !important;
    }
    .sc_testimonials_style_testimonials-3 .sc_testimonial_item {
        padding: 0px !important;
    }
    .body_filled footer.widget_area[class*=scheme_] .footer_wrap_inner {
        padding: 0em 0 1em;
    }
    .sc_testimonial_content {
        width: 236px;
    }
    .magazine-details-div {
        display: block;
    }
    .magazine-details-div .mag_left {
        width: 100%;
    }
    .magazine-details-div .mag_right {
        width: 100%;
        margin-top: 40px;
    }
    h4.widget_title {
        font-size: 30px;
        margin-bottom: 30px !important;
    }
    .footer_wrap img.logo_main {
        max-width: 110px;
    }
}
@media (max-width: 525px) {
    .accent1_bg.slider_bg {
        width: 95%;
        height: 360px;
    }
    div#slider-1-slide-2-layer-1 {
        right: -70px;
    }
    .rs-parallax-wrap.rs-layer-wrap.rs-slide-2 {
        right: 40px;
    }
    div#slider-1-slide-2-layer-3 {
        display: block !important;
    }
    .rs-parallax-wrap.rs-layer-wrap.rs-slide-3 {
        right: -20px;
        top: 340px;
    }
    .rs-parallax-wrap.rs-layer-wrap.rs-slide-4 {
        right: 25px;
    }
}
@media (max-width: 520px) {
    ul#menu_main li a {
        font-size: 18px;
        padding: 10px;
    }
}
